<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log" >

  <variable name="logDirectory" value="C:\SharifTech\mySimpayBot\log" />
  <variable name="layout" value="[${level:uppercase=true}];[${longdate}];[${processid}];[${threadid}];${message}" />

  <targets>
    <target xsi:type="BufferingWrapper" name="allasync" slidingTimeout="false" bufferSize="100000" flushTimeout="50">
      <target name="all" xsi:type="File" encoding="utf-8"  layout="${layout}" fileName="${logDirectory}\All#${shortdate}.log"/>
    </target>
    <target xsi:type="BufferingWrapper" name="errorsasync" slidingTimeout="false" bufferSize="100000" flushTimeout="50">
      <target name="errors" xsi:type="File" encoding="utf-8"  layout="${layout}" fileName="${logDirectory}\Errors#${shortdate}.log"/>
    </target>
    <target xsi:type="BufferingWrapper" name="traceasync" slidingTimeout="false" bufferSize="100000" flushTimeout="50">
      <target name="trace" xsi:type="File" encoding="utf-8"  layout="${layout}" fileName="${logDirectory}\Trace#${shortdate}.log"/>
    </target>

  </targets>

  <rules>
    <logger name="*" minlevel="Trace" maxlevel="Trace" writeTo="traceasync"/>
    <!--<logger name="*" minlevel="Debug" maxlevel="Warn" writeTo="allasync"/>-->
    <logger name="*" minlevel="Error" maxlevel="Fatal" writeTo="errorsasync"/>
  </rules>

</nlog>